html {
    background-color: lightblue;
    height: 100%;
}

hr {
    width: 100%;
}

body {
    font-family: Georgia;
    padding-right: 15px;
    padding-left: 15px;
}

a {
    text-decoration: none;
}

    a:hover {
        background-color: gray;
    }

    a:visited {
        color: blue;
    }

.mdimage {
    width: 40%;
    height: auto;
}

.selected {
    color: purple !important;
    font-weight: bold;
    text-decoration: underline;
}

.center {
    text-align: center;
}

.emphasis {
    color: navy;
}

.makeitalic {
    font-style: italic;
}

.floatleft {
    float: left;
}

aside {
    width: 50%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

aside > p {
        margin: 0.5rem;
        font-size: 14px;
}

aside > ul {
        margin: 0.5rem;
        font-size: 14px;
}

div.imageinsert {
    vertical-align: top;
    text-align: center;
}

.caption {
    font-style: italic;
    font-size: 13px;
    display: block;
}

.bold {
    font-weight: bold;
}

figcaption {
    padding-bottom: 10px;
    text-align: center;
    margin-right: 20%;
    margin-left: 10%;
    margin-top: 5px;
}